@use '../../variables' as v;

.logo__row {
    margin-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2;

    @media (max-width: v.$breakpoint-tablet){
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .logo:first-child {
        padding-left: 0;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;

        @media (max-width: v.$breakpoint-tablet){
            padding-left: 0;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
        }
    }

    .logo {
        width: 100%;
        max-width: 150px;
        line-height: 0;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 28px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        @media (max-width: v.$breakpoint-tablet){
            width: 100%;
            max-width: 150px;
            line-height: 0;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 18px;
            -webkit-box-pack: start;
            -ms-flex-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

        @media (max-width: v.$breakpoint-mobile){
            margin-bottom: 10px;
        }

        img {
            max-height: 100%;
            border-style: none;
        }
    }
  }