$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Poppins', sans-serif;

$pistachio-bg: #f1fef4f2;

$dark-color: #000;
$white-color: #fff;
$green-color: #3bb75e;

$breakpoint-lg-desktop: 1200px;
$breakpoint-desktop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 600px;
$breakpoint-sm-mobile: 480px;